@charset "utf-8";
/* ====== 初始化 ====== */
html {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;box-sizing:border-box;-ms-overflow-style:scrollbar;line-height:1.25;}
*,*::before,*::after {box-sizing:inherit;}
* {padding:0;margin:0;}
input,input::after,input::before {box-sizing:border-box;}
ul li {list-style:none;}
a {text-decoration:none;}
button,a {cursor:pointer}
button:focus {outline:none;}
select {/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*//*很关键：将默认的select选择框样式清除*/appearance:none;-moz-appearance:none;-webkit-appearance:none;/*为下拉小箭头留出一点位置，避免被文字覆盖*/padding-left:.5rem;padding-right:1.25rem;/*在选择框的最右侧中间显示小箭头图片*/background:url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;}
select::-ms-expand {display:none;}

/* 字体大小 */
h1,.h1 {font-size:2.5rem;}
h2,.h2 {font-size:2rem;}
h3,.h3 {font-size:1.75rem;}
h4,.h4 {font-size:1.5rem;}
h5,.h5 {font-size:1.25rem;}
h6,.h6 {font-size:1rem;}
small,.small {font-size:75%;}
big,.big {font-size:125%;}
dt,th,h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,.title {font-weight:500;}

/* ====== 通用布局 ====== */
/* 对齐 */
.fr {float:right !important;}
.fl {float:left !important;}
.fc {display:block !important;margin-left:auto !important;margin-right:auto !important;}
.fn {float:none !important;clear:both;}
.cl {clear:left !important;}
.cr {clear:right !important;}
.cc {clear:both;}
.cn {clear:none;}

/* 文本对齐 */
.center {text-align:center !important;}
.left {text-align:left !important;}
.right {text-align:right !important;}

/* 填充 */
.pa {padding: 0.5rem 1rem !important;}
.pb {padding-bottom:0.5rem !important;}
.pl {padding-left:1rem !important;}
.plr {padding-left:1rem;padding-right:1rem !important;}
.pr {padding-right:1rem !important;}
.pt {padding-top:0.5rem !important;}
.ptb {padding-top:0.5rem;padding-bottom:0.5rem !important;}
.pn {padding:0 !important;}
.pn-t {padding-top:0 !important;}
.pn-b {padding-bottom:0 !important;}
.pn-l {padding-left:0 !important;}
.pn-r {padding-right:0 !important;}
.pn-tb {padding-top:0 !important;padding-bottom:0 !important;}
.pn-lr {padding-left:0 !important;padding-right:0 !important;}

/* 间距 */
.ma {margin:1rem !important;}
.mb {margin-bottom:1rem !important;}
.mc {margin-left:auto !important;margin-right:auto !important;display:block;}
.ml {margin-left:1rem !important;}
.mlr {margin-left:1rem;margin-right:1rem !important;}
.mr {margin-right:1rem !important;}
.mt {margin-top:1rem !important;}
.mtb {margin-top:1rem;margin-bottom:1rem !important;}
.mn {margin:0 !important;}
.mn-t {margin-top:0 !important;}
.mn-r {margin-right:0 !important;}
.mn-b {margin-bottom:0 !important;}
.mn-l {margin-left:0 !important;}
.mx {position:absolute;left:50%;transform:translateX(-50%);}
.my {position:absolute;transform:translateY(-50%);}
.mxy {position:absolute;transform:translate(-50%,-50%);}

/* 边框 */
.ba {border:1px solid #dbdbdb !important;}
.bb {border-bottom:1px solid #dbdbdb !important;}
.bl {border-left:1px solid #dbdbdb !important;}
.blr {border-left:1px solid #dbdbdb !important;border-right:1px solid #dbdbdb !important;}
.bn {border:none !important;}
.br {border-right:1px solid #dbdbdb !important;}
.bt {border-top:1px solid #dbdbdb !important;}
.btb {border-top:1px solid #dbdbdb !important;border-bottom:1px solid #dbdbdb !important;}

/* 圆角 */
.b-a {border-radius:0.25rem !important;}
.b-b {border-bottom-right-radius:0.25rem !important;border-bottom-left-radius:0.25rem !important;}
.b-c {border-radius:50% !important;}
.b-l {border-bottom-left-radius:0.25rem !important;border-top-left-radius:0.25rem !important;}
.b-n {border-radius:0 !important;}
.b-r {border-bottom-right-radius:0.25rem !important;border-top-right-radius:0.25rem !important;}
.b-t {border-top-left-radius:0.25rem !important;border-top-right-radius:0.25rem !important;}
.b-lb {border-bottom-left-radius:0.25rem !important;}
.b-lt {border-top-left-radius:0.25rem !important;}
.b-rb {border-bottom-right-radius:0.25rem !important;}
.b-rt {border-top-right-radius:0.25rem !important;}


/* ====== 元素 ====== */
/* 字体样式 */
.unit {font-style:normal;}
.en {font-family:arial}
.num {font-family:"Helvetica Neue",Helvetica}
.del {position:relative;}
.del * {color:#999 !important;}
.del:after {position:absolute;content:"";display:block;height:2px;width:100%;background:#999;top:50%;}
/* 所有CSS属性都拥有过渡属性，动画持续时间3s 延迟2s触发 linear的触发函数 */
.trans {-webkit-transition:all 2s 1s linear;-moz-transition:all 2s 1s linear;-ms-transition:all 2s 1s linear;-o-transition:all 2s 1s linear;transition:all 2s 1s linear;}

/* 特殊容器 */
/* .warp {width:100%;max-width:77rem;padding:0 1rem;margin:0 auto;position:relative;}
.modal {position:fixed;z-index:5;top:0;left:0;right:0;bottom:0;width:100%;height:100%;}
*/
/*.card {background:#fff;border-top:1px solid #dbdbdb;border-radius:.25rem;box-shadow:0 0.125rem 0.25rem 0 rgba(0,0,0,.12),0 0 0.375rem 0 rgba(0,0,0,.04);}
.item {padding:0.5rem 1rem;}
*/

/* ===  布局  === */
/* 容器 */
.mm_page {display:block;overflow-x:hidden;}
.mm_header:before,.mm_header:after {display:block;content:"";clear:both;float:none;}
.mm_bodyer:before,.mm_bodyer:after {display:block;content:"";clear:both;float:none;}
.mm_footer:before,.mm_footer:after {display:block;content:"";clear:both;float:none;}
.mm_warp:before,.mm_warp:after {display:block;content:"";clear:both;float:none;}
.mm_warp { display:block;width:100%;max-width:77rem;margin:0 auto;position:relative; }
@media (min-width: 415px) {
	html { font-size: 16px !important; }
	.mm_warp { padding:0 1rem; }
}

/* 模态窗 */
/* .mm_modal {display:block;position:fixed;z-index:5;top:0;left:0;right:0;bottom:0;width:100%;height:100%;}
.mm_modal .mm_warp {position:absolute;z-index:7;top:50%;left:50%;transform:translate(-50%,-50%);width:calc(100% - 2rem);max-width:30rem;min-height: 7.5rem;}
.mm_mask {display:block;position:absolute;z-index:6;top:0;left:0;right:0;bottom:0;width:100%;height:100%;}
.mm_modal .mm_mask { transition: all 1s ease-in-out; } */

/* 自动栅格 */
.mm_grid,[class*=mm_grid_],.mm_row {display:-webkit-box;display:-moz-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;flex-flow:row wrap; justify-content: space-between; align-items: stretch;}
.mm_grid>*,[class*=mm_grid_]>* {-ms-flex-preferred-size:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;float:left;}
.mm_grid_1>* {width:100%;float:none;}
.mm_grid_2>* {width:50%;float:left;}
.mm_grid_3>* {width:33.333333%;float:left;}
.mm_grid_4>* {width:25%;float:left;}
.mm_grid_5>* {width:20%;float:left;}
.mm_grid_6>* {width:16.666666%;float:left;}
.mm_grid_8>* {width:12.5%;float:left;}
.mm_grid_10>* {width:10%;float:left;}


/* 格子 */
.mm_col,[class*=mm_col_] {display: block;-ms-flex-preferred-size:0;-webkit-box-flex:1;-ms-flex-positive:1;float:left;}
.mm_col>*,[class*=mm_col_]>* { position: relative; height: 100%; }
.mm_col { -ms-flex: 1 1 auto; flex: 1 1 auto; }
.mm_col_10 {width:10%;-ms-flex:0 0 10%;flex:0 0 10%;}
.mm_col_20 {width:20%;-ms-flex:0 0 20%;flex:0 0 20%;}
.mm_col_25 {width:25%;-ms-flex:0 0 25%;flex:0 0 25%;}
.mm_col_33 {width:33.333333%;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;}
.mm_col_40 {width:40%;-ms-flex:0 0 40%;flex:0 0 40%;}
.mm_col_50 {width:50%;-ms-flex:0 0 50%;flex:0 0 50%;}
.mm_col_60 {width:60%;-ms-flex:0 0 60%;flex:0 0 60%;}
.mm_col_66 {width:66.666666%;-ms-flex:0 0 66.666666%;flex:0 0 66.666666%;}
.mm_col_75 {width:75%;-ms-flex:0 0 75%;flex:0 0 75%;}
.mm_col_80 {width:80%;-ms-flex:0 0 80%;flex:0 0 80%;}
.mm_col_90 {width:90%;-ms-flex:0 0 90%;flex:0 0 90%;}
.mm_col_100 {width:100%;-ms-flex:0 0 100%;flex:0 0 100%;}

/* 列表 */
.mm_list:before,.mm_list:after {display:block;content:"";clear:both;float:none;}
.mm_list,[class*=mm_list_] {over-webkit-flex-direction:row;-moz-flex-direction:row;-ms-flex-direction:row;-o-flex-direction:row;flex-direction:row;-webkit-flex-wrap:wrap;-moz-flex-wrap:wrap;-ms-flex-wrap:wrap;-o-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:space-between;-moz-justify-content:space-between;-ms-justify-content:space-between;-o-justify-content:space-between;justify-content:space-between;}
.mm_list .mm_item,[class*=mm_list_] .mm_item {-ms-flex-preferred-size:0;-webkit-box-flex:1;-ms-flex-positive:1;float:left;list-style:none;}
.mm_list_1 .mm_item {width:100%;float:none;}
.mm_list_2 .mm_item {width:50%;}
.mm_list_3 .mm_item {width:33.333333%;}
.mm_list_4 .mm_item {width:25%;}
.mm_list_5 .mm_item {width:20%;}
.mm_list_6 .mm_item {width:16.666666%;}
.mm_list_8 .mm_item {width:12.5%;}
.mm_list_10 .mm_item {width:10%;}

/* 块 */
.mm_block:before,.mm_block:after {display:block;content:"";clear:both;float:none;}
.mm_head:before,.mm_head:after {display:block;content:"";clear:both;float:none;}
.mm_body:before,.mm_body:after {display:block;content:"";clear:both;float:none;}
.mm_foot:before,.mm_foot:after {display:block;content:"";clear:both;float:none;}


/* 栅格间距 */
.space>* {padding:0.5rem;}
.space_lg>* {padding:1rem;}
.space_x {margin-left:-0.5rem;margin-right:-0.5rem;}
.space_x>* {padding:0.5rem;}
.space_x_lg {margin-left:-1rem;margin-right:-1rem;}
.space_x_lg>* {padding:1rem;}


/* 盒子 */
.mm_box { display: none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.3); }
.hover,.active,.foucs { position: relative; }
.hover:hover .mm_box { display: block; }
.foucs:foucs .mm_box { display: block; }
.active:active .mm_box { display: block; }
.current .mm_box { display: block; }


/* === 内容组件  === */
/* 徽章 */
.mm_badge { display: inline-block; padding: 0.1rem 0.3rem 0.075rem 0.3rem; min-width: 1.1rem; border-radius: 1.5rem; background-color: #F43530; color: #FFFFFF; text-align: center; font-size: .625rem; vertical-align: middle; }
.btn, [class*=btn_] { display: inline-block; padding: 0.25rem .75rem; border: 1px solid #FFF; border-radius: .25rem; font-size: 0.75rem; cursor: pointer; line-height: 1; }


/*== 媒体 ==*/
/* 尺寸 */
.mm_media { width:2.25rem;height:2.25rem; margin-right:0.5rem; position:relative; }
.mini .mm_media{ width:1.5rem;height:1.5rem; margin-right:0.5rem; text-align: center; }
.small .mm_media{width:2rem;height:2rem; margin-right:0.5rem;}
.big .mm_media{width:3rem;height:3rem; margin-right:0.5rem;}
.larger .mm_media{width:4rem;height:4rem; margin-right:0.5rem;}
.jumbo .mm_media{width:6rem;height:6rem; margin-right:0.5rem;}
.mm_media .icon { text-align: center; }
.media img, .media image{ width:100%; }

.mini .icon{ width: 1.5rem; height: 1.5rem; border-radius: .25rem; line-height: 1.5rem; font-size: .85rem; }
.small .icon{width:2rem;height:2rem; line-height: 2rem; font-size: 1rem; }
.big .icon{ width: 3rem; height: 3rem; line-height: 3rem; font-size: 1.25rem; }
.larger .icon{ width: 4rem; height: 4rem; line-height: 4rem; font-size: 1.5rem; }
.jumbo .icon{ width: 6rem; height: 6rem; line-height: 6rem; font-size: 2rem; }

/* 排版方式 */
.lr .mm_side { float:left; }
.rl .mm_side { float:right; }
.tb .mm_side { float:none; clear: both; height:auto; margin:0 auto; text-align:center; }
