@charset "utf-8";

/* 重置样式 */
body  { color: 333; background: #ededed; /* background: #efeff4; */ }
dt,th,h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,.title { color:#333; }

/* 元素样式 */
.desc, .tip { color:#666; }

/* ====== 公共样式 ====== */
/* 背景 */
.bg_white {background:#fff;color:#333;}
.bg_black {background:#333;color:#fff;border-color:#333;}
.bg_light { background:#ccc;color:#fff;border-color:#ccc;}
.bg_dark {background:#666;color:#fff;border-color:#666;}
.bg_grey,.bg_default {background:#999;color:#fff;border-color:#999;}
.bg_red,.bg_warning {background: #FF0036;color:#fff;border-color:#FF0036;}
.bg_yellow,.bg_danger {background:#fca216;color:#fff;border-color:#fca216;}
.bg_green,.bg_success {background:#09BB07;color:#fff;border-color:#09BB07;}
.bg_cyan,.bg_info {background:#00b2d2;color:#fff;border-color:#00b2d2;}
.bg_blue,.bg_primary {background:#38f;color:#fff;border-color:#38f;}
.bg_purple {background: #7f39e8; color:#fff;border-color:#7f39e8;}

/* 按钮 */
.mm_btn:focus { -webkit-filter: contrast(2) brightness(0.9); filter: contrast(2) brightness(0.9); }
.mm_btn:hover { -webkit-filter: brightness(1.25); filter: brightness(1.25); }
.mm_btn:disabled { -webkit-filter: grayscale(0.5); filter: grayscale(0.5); }
.button-hover { background-color: #dcdcdc; }

/* 字体颜色 */
.font_black {color:#333 !important;}
.font_dark {color:#666 !important;}
.font_grey {color:#999 !important;}
.font_light {color:#ccc !important;}
.font_red, .font_warning {color:#E6A23C !important;}
.font_green, .font_success {color:#67C23A !important;}
.font_blue,.font_primary {color:#409EFF !important;}
.font_yellow,.font_danger {color:#F56C6C !important;}
.font_cyan,.font_info {color:#909399 !important;}

/* 默认配置 */
.mm_mask { background:rgba(0,0,0,0.3); }
.mm_header { background-color: #373737; color: #FFF; }
.mm_footer { background-color: #FDFDFD; color: #333; }
.mm_head { background: #F5f6FA; }
.mm_desc { color: #888888; }

.mm_btn_warning_x {background-color:#E6A23C; color: #fff}
.mm_btn_success_x {background-color:#67C23A; color: #fff}
.mm_btn_primary_x {background-color:#409EFF; color: #fff}
.mm_btn_danger_x {background-color:#F56C6C; color: #fff}
.mm_btn_info_x {background-color:#909399; color: #fff}
.mm_btn_warning {background-color:#E6A23C; color: #fff}
.mm_btn_success {background-color:#67C23A; color: #fff}
.mm_btn_primary {background-color:#409EFF; color: #fff}
.mm_btn_danger {background-color:#F56C6C; color: #fff}
.mm_btn_info {background-color:#909399; color: #fff}
